.v-editor {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 .5rem;
  margin: .5rem auto;
  max-width: 600px;
  text-align: right;
}

.v-editor > .v-input__outer {
  margin-bottom: 20px;
  max-width: 400px;
  display: flex;
}

.v-editor .btn-group {
  margin-bottom: 10px;
}