.article-main {
  width: 100%;
  margin: 100px auto 10px;
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  .article-main {
    width: 680px;
  }
}
.article-header {
  width: 100%;
}
.article-main .article-title {
  font-size: 28px;
  font-weight: 600;
  height: 1rem;
  line-height: 1rem;
  margin-bottom: 10px
}

.article-meta {
  font-size: 13px;
  /* width: 100%; */
  color: rgba(0,0,0,.5);
  margin: 10px 0;
  padding: 0 20px;
}

/* .article-meta {} */

.article-main .comment-list {
  margin-top: 30px;
  padding: 20px 25px 20px 15px;
  background-color: #fff;
}

.article-main .comment-replies {
  margin-left: 10%;
}

.article-main .comment-replies .comment-item {
  background-color: #F2F3F5;
  margin-bottom: 10px;
}