.article-main {
  width: 100%;
  margin: 110px auto 10px;
  font-size: 14px;
  /* padding: .4rem; */
}
@media screen and (min-width: 769px) {
  .article-main {
    width: 680px;
  }
}

@media screen and (max-width: 768px) {
  .article-main {
    padding: 0 12px;
  }
}

.article-main .article-footer > .user-reaction {
  text-align: right;
  /* padding: 15px; */
  background-color: #FFF;
  flex: 0 0 90px;
}

/* .article-main .card-tags {
  background-color: #FFF;
  padding: 15px;
} */

.article-main .article-footer {
  display: flex;
  padding: 15px 35px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFF;
}

.article-main > .user-reaction > button {
  -webkit-appearance: none;
  outline: none;
  padding: 0;
  text-align: left;
  color: rgb(81, 104, 122);
  border: 1px solid transparent;
  background: none;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}
.article-main > .user-reaction button i {
  margin-right: 6px;
}
.article-header {
  width: 100%;
  background-color: #fff;
  padding: 15px 35px;
  /* margin-bottom: 20px; */
  border-bottom: 1px solid #EAECEF;
  /* color:  */
}
.article-main .article-title {
  font-size: 24px;
  font-weight: 600;
  height: .8rem;
  line-height: .8rem;
}

.article-meta {
  font-size: 14px;
  /* width: 100%; */
  margin-top: 10px;
  color: rgba(0,0,0,.65);
}

.article-meta i {
  margin-right: 5px;

}
.article-meta .article-category {
  margin-right: 20px;
}

.article-main .comment-list {
  /* margin: 20px 10px 30px 10px; */
  /* padding: 20px 30px 20px 15px; */
  padding: 0 20px;
  margin: 20px 0;
  background-color: #FFF;
  /* border-top: 1px solid rgba(0,0,0,.3); */
}

.article-main .comment-list > .article-comments {
  /* padding-bottom: 20px; */
  border-bottom: 1px solid #EAECEF;
}

.article-main .comment-list > .article-comments:last-of-type {
  padding-bottom: 0;
  /* border-bottom: 0; */
}


/* .article-main .comment-replies .comment-item:last-of-type {
  margin-bottom: 0;
} */

.article-main .comment-list > .article-comments > .comment-item > .v-avatar {
  margin-right: 15px;
}

.article-main .comment-replies {
  margin: 0 .4rem .4rem 12%;
}

.article-main .comment-replies .comment-item {
  background-color: #F5F6F7;
  margin-bottom: 20px;
  border-radius: 3px;
}


.article-main .comment-replies .comment-item .comment-reply {
  display: none;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 10px 35px;
  background-color: #FFF;
}

@media (max-width: 767px) {
  .markdown-body,
  .article-header,
  .article-main .article-footer {
    padding: 15px;
  }
  /* .article-header,
  .article-main .article-footer {
    padding: 15px;
  } */
}