.article-main {
  width: 100%;
  margin: 110px auto 10px;
  font-size: 14px;
  /* padding: .4rem; */
}
@media screen and (min-width: 769px) {
  .article-main {
    width: 680px;
  }
}

@media screen and (max-width: 768px) {
  .article-main {
    padding: 0 20px;
  }
}

.article-main > .user-reaction {
  text-align: right;
}

.article-main > .user-reaction > button {
  -webkit-appearance: none;
  outline: none;
  padding: 0;
  text-align: left;
  color: rgb(81, 104, 122);
  border: 1px solid transparent;
  background: none;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  user-select: none;
}
.article-main > .user-reaction button i {
  margin-right: 6px;
}
.article-header {
  width: 100%;
  /* color:  */
}
.article-main .article-title {
  font-size: 24px;
  font-weight: 600;
  height: 1rem;
  line-height: 1rem;
}

.article-meta {
  font-size: 14px;
  /* width: 100%; */
  margin: 10px 0;
  color: rgba(0,0,0,.65);
}

.article-meta i {
  margin-right: 5px;

}
.article-meta .article-category {
  margin-right: 20px;
}

.article-main .comment-list {
  margin: 20px 10px 30px 10px;
  /* padding: 20px 30px 20px 15px; */
  /* padding: 0 20px; */
  background-color: rgba(240, 240, 244, 0.5);
  /* border-top: 1px solid rgba(0,0,0,.3); */
}

.article-main .comment-list > .article-comments {
  /* padding-bottom: 20px; */
  border-bottom: 1px solid rgba(200,200,200,.5);
}

.article-main .comment-list > .article-comments:last-of-type {
  padding-bottom: 0;
  border-bottom: 0;
}


.article-main .comment-replies .comment-item:last-of-type {
  margin-bottom: 0;
}

.article-main .comment-list > .article-comments > .comment-item > .v-avatar {
  margin-right: 15px;
}

.article-main .comment-replies {
  margin: 0 .4rem .4rem 12%;
}

.article-main .comment-replies .comment-item {
  background-color: #FFF;
  margin-bottom: 20px;
  border-radius: 3px;
}


.article-main .comment-replies .comment-item .comment-reply {
  display: none;
}