.main {
  /* width: 100%; */
  /* margin-top: 110px; */
  padding: .33333rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.main > .articles {
  flex: 1 1 75%;
}

.main > .sidebar {
  flex: 1 1 25%;
  padding-left: 40px;
}

.main > .sidebar .taglist {
  padding: 0 10px;
  margin-top: 20px;
}

.main > .sidebar .taglist-title {
  font-size: 18px;
  padding: 8px 0;
  font-weight: 400;
  color: rgba(0, 0, 0, .8);
}
.nav-toggle {
  padding: 10px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;

}
.nav-toggle .icon-bar {
    display: block;
    background-color: #000000;
    width: 20px;
    height: 2px;

  }
.nav-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media screen and (min-width: 1024px) {
  .main {
    width: 960px;
    margin: 90px auto 0;
  }
  
  .navbar {
    display: none;
    visibility: hidden
  }
  
  .full-navbar {
    display: block;
    width: 960px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .full-navbar {
    display: none;
    visibility: hidden;
  }
  
  .navbar {
    display: block;
  }
  
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    margin: 110px auto 0;
  }
}