.comment-item {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}

.comment-item .comment-main {
  padding: 0 10px;
  flex: 1 1 auto;
}

.comment-item .comment-main .comment-header {
  display: flex;
  justify-content: flex-start;
  /* vertical-align: text-top; */
  align-items: flex-start;
  height: .5rem;
  line-height: .8;
  margin-bottom: 10px;
}

.comment-item .comment-main .comment-header .comment-name {
  color: steelblue;
  margin-right: 15px;
  font-size: 20px;
  color: rgba(76, 75, 72, .85);
}

.comment-item .comment-main .comment-header .comment-time {
  color: rgba(76, 75, 72, .5);
  font-size: 14px;
}

.comment-item .comment-main .comment-header .comment-reply {
  -webkit-appearance: none;
  outline: none;
  margin-left: .8rem;
  flex: 0 0 60px;
  line-height: .9;
  color: steelblue;
  border: 1px solid transparent;
  background: none;
  font-size: 16px;
}
