.v-footer {
  border-top: 1px solid #dbdbdb;
  width: 100%;
  padding: .2rem;
  font-size: 16px;
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
}
.footer__author {
  color: steelblue;
}