.chip
  display: inline-flex
  align-items: center
  font-size: 14px
  margin: 4px
  vertical-align: middle
  outline: none
  &__content
    height: 28px
    z-index: 1
    vertical-align: middle
    padding: 0 12px