* {
  box-sizing: border-box;
  /* 在X5新内核Blink中，在排版页面的时候，会主动对字体进行放大，会检测页面中的主字体，当某一块字体在我们的判定规则中，认为字号较小，并且是页面中的主要字体，就会采取主动放大的操作。然而这不是我们想要的，可以采取给最大高度解决 */
}

*:before, *:after {
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  /* font-size: $font-size-root */
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* background-color: #F1F2FE; */
  background: linear-gradient(rgb(249, 248, 247), rgb(251, 250, 248) 46px, rgb(251, 251, 249) 120px, rgb(248, 247, 245) 35%, rgb(249, 248, 246));
  /* background-color: rgba(177, 6, 6, 0.5); */
  /* background-color: #fff; */
  font-size: 0.24rem;
  color: #34495e;
  /* overflow-y scroll */
  overflow-y: auto;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, textarea, td {
  border: 0 none;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

em, strong {
  font-style: normal;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.full-navbar .v-header .nav-item.is-active, .navbar .v-navbar .nav-item.is-active {
  color: #61aeee;
}

.v-header .nav-item {
  color: #7f7f7f;
}

.full-navbar .v-header .nav-item:hover {
  background-color: aliceblue;
}

/*
@media screen and (min-width: 1024px) {

  .navbar {
    display: none;
  }

  .full-navbar {
    display: block;
    width: 960px;
    margin: 0 auto;
  }

  .main {
    width: 960px;
    margin: 90px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .full-navbar {
    display: none;
  }

  .navbar {
    display: block;
  }
} */

@media screen and (min-width: 1024px) {
  .main {
    width: 900px;
    margin: 75px auto 0;
  }

  .navbar {
    display: none;
    visibility: hidden
  }

  .full-navbar {
    display: block;
    width: 960px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .full-navbar {
    display: none;
    visibility: hidden;
  }

  .navbar {
    display: block;
  }

  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    margin: 110px auto 0;
  }
}

.main {
  /* width: 100%; */
  /* margin-top: 110px; */
  padding: .33333rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.main > .articles {
  width: 75%;
  flex: 1 1 75%;
}

.main > .sidebar {
  flex: 1 1 25%;
  padding-left: 40px;
}

.main > .sidebar .tag-list {
  /* padding: 15px; */
  background-color: #FFF;
  margin-top: 20px;
  box-shadow: 0 1px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 1px 0 rgba(0,0,0,.12);
  /* border-radius: 4px; */
}

.main > .sidebar .tag-list-body {
  padding: 15px;
}

.main > .sidebar .tag-list-title {
  font-size: 16px;
  /* padding: 8px 0; */
  background-color: #f2f2f2;
  padding: 8px 15px;
  /* margin-bottom: 15px; */
  font-weight: 400;
  color: rgba(0, 0, 0, .8);
}

.main .articles .load-more {
  font-size: 14px;
  font-weight: 500;
}

.nav-toggle {
  padding: 10px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;

}
.nav-toggle .icon-bar {
    display: block;
    background-color: #000;
    width: 20px;
    height: 2px;

  }
.nav-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}